In [1]:
from model import *
import pickle
import pandas as pd
pd.options.display.float_format = '{:,.2f}'.format

Analysis for different penalty cost values

In [3]:

with open(location+"data.json","br") as f:
    data = pickle.load(f)
sets = data["sets"]
meta_parameters = data["meta_parameters"]
u_std = data["u_std"]


penalty_coefficient_results = {}
for u in range(5,41,5):

    for s in sets["S"]:
        u_std[s]={}
        for t in sets["T"]:
            u_std[s][t]={}
            for d in sets["D"]:
                u_std[s][t][d]= u
    penalty_coefficient_results[u] = solve_rostering_problem(data)
    print(u,"done")
penalty_coefficient_results = pd.DataFrame(penalty_coefficient_results)
penalty_coefficient_results.T

5 done
10 done
15 done
20 done
25 done
30 done
35 done
40 done

     UV%  OS%   UR%    DL%  total cost
5  88.97 0.00 86.68 125.00   16,795.00
10 88.65 0.00 86.68 137.00   33,416.00
15 88.97 0.00 86.68 120.00   50,035.00
20 89.61 0.00 86.68 130.00   66,656.00
25 88.97 0.00 86.68 118.00   83,275.00
30 89.81 0.00 86.68 149.00   99,896.00
35 89.61 0.00 86.68 159.00  116,518.00
40 89.26 0.00 86.68 128.00  133,137.00

Analysis for different upper bounds.
Penalty costs are randomly generated but same for all upper bounds.

In [4]:

with open(location+"data.json","br") as f:
    data = pickle.load(f)
sets = data["sets"]
meta_parameters = data["meta_parameters"]
upper_bound_results = {}
for gamma_max in range(20,51,5):
    meta_parameters["gamma_max"] = gamma_max
    upper_bound_results[gamma_max] = solve_rostering_problem(data)
    print(gamma_max,"done")

meta_parameters["gamma_max"] = 1000
upper_bound_results["No Bound"] = solve_rostering_problem(data)

upper_bound_results = pd.DataFrame(upper_bound_results)
upper_bound_results.T

20 done
25 done
30 done
35 done
40 done
45 done
50 done

           UV%  OS%   UR%    DL%  total cost
20       90.18 0.00 86.83 135.00   25,030.00
25       90.75 0.00 86.83 129.00   25,024.00
30       90.75 0.00 86.83 145.00   25,015.00
35       90.75 0.00 86.83 140.00   25,015.00
40       90.75 0.00 86.83 140.00   25,015.00
45       90.75 0.00 86.83 140.00   25,015.00
50       90.75 0.00 86.83 140.00   25,015.00
No Bound 90.75 0.00 86.83 163.00   25,015.00